@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    background-color: #151515;
    color: white
}

.nav{
    text-align: center;
    margin-bottom: 30px;
    @media only screen and (min-width: 992px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px !important;
    }
    &-logo{
        font-weight: 700;
        font-size: 20px;
        margin: 20px 0;
    }

    &-social{
        display: flex;
        justify-content: center;
        gap: 20px;

        > img{
            width: 20px;
        }
    }
}

.container{
    padding: 0 16px;
    @media only screen and (min-width: 992px) {
        max-width: 80%;
        margin: auto;
    }
}

.text-secondary{
    color: #D9D9D9;
}

.profile{
    position: relative;
    text-align: center;
    margin-bottom: 80px;
    &-logo{
        position: absolute;
        z-index: -1;

        &-rings{
            transform: translateX(-80%);
            width: 530px;
        }
    }

    &-img{
        width: 200px;
        margin: auto;
    }

    &-info{
        @media only screen and (min-width: 992px) {
            width: 600px;
            text-align: left;
        }
        > h2{
            font-size: 35px;
            line-height: 40px;
            margin-bottom: 24px;
            @media only screen and (min-width: 992px) {
                font-size: 60px;
                line-height: 60px;
                margin-bottom: 40px;
            }
            >span{
                border-bottom: 4px solid #4EE1A0;
            }
        }
    }

    &-copy{
        line-height: 26px;
        margin-bottom: 24px;
    }
}

.experience{
    text-align: center;
    @media only screen and (min-width: 992px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border-top: 1px solid white;
        padding-top: 70px;
        text-align: left;
    }

    >div:nth-child(1){
        border-top: 1px solid white;
        padding-top: 40px;

        @media only screen and (min-width: 992px) {
            padding-top: unset;
            border-top: none;
        }
    }

    >div:nth-last-child(1){
        border-bottom: 1px solid white;
        padding-bottom: 40px;

        @media only screen and (min-width: 992px) {
            border-bottom: none;
        }
    }

    &-title{
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 5px;
    }

    &-container{
        margin-bottom: 24px;
        
        @media only screen and (min-width: 992px){
            margin-bottom: 50px;
        }
    }
}

.project{
    &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }

    &-head{
        font-size: 35px;
    }

    &-wrapper{
        @media only screen and (min-width: 992px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }
}

.btn{
    color: white;
    text-decoration: none;
    letter-spacing: 2.29px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 2px solid #4EE1A0;
    padding-bottom: 10px;

    &-header{
        width: fit-content;
        margin: auto;

        @media only screen and (min-width: 992px) {
            margin: unset;
        }
    }

    &-margin{
        margin-right: 20px;
    }
}

.card-project{
    margin-bottom: 50px;
    &-img{
        width: 100%;
        margin-bottom: 20px;
    }

    &-title{
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    &-tech{
        display: flex;
        gap: 16px;
        color: #D9D9D9;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
}